---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

export async function getStaticPaths({paginate, rss}) {
  const allAuthors = Astro.fetchContent('../data/authors/*.md');
  const allPosts = Astro.fetchContent('./*.md');
  const sortedPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
  

//   // Generate an RSS feed from this collection of posts.
//   // NOTE: This is disabled by default, since it requires `buildOptions.site` to be set in your "astro.config.mjs" file.
//   //   rss({
//   //     title: 'Don’s Blog',
//   //     description: 'An example blog on Astro',
//   //     customData: `<language>en-us</language>`,
//   //     items: sortedPosts.map(item => ({
//   //       title: item.title,
//   //       description: item.description,
//   //       link: item.url,
//   //       pubDate: item.date,
//   //     })),
//   //   });

  // Return a paginated collection of paths for all posts
  return {pageSize: 1, props: { allAuthors}};
}

const { content, page, allAuthors } = Astro.props;
console.log(allAuthors, page, content)
---

<html>
  <head>
    <title>{content.title}</title>
    <MainHead title={content.title} description={content.description} image={content.image} canonicalURL={Astro.request.canonicalURL} />
    <style lang="scss">
      .title {
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 3em;
        letter-spacing: -0.04em;
        text-align: center;
      }

      .description {
        margin-bottom: 4rem;
        font-size: 1.4em;
        font-weight: 400;
        text-align: justify;
        text-transform: uppercase;
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .article {
        margin-top: 4rem;
        margin-bottom: 6rem;

        :global(p) {
          font-size: 1.3em;
          line-height: 2;
          margin-top: 2em;
          margin-bottom: 2em;
        }
      }

      .posts {
        text-transform: uppercase;
      }

      .footer {
        margin-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <Nav />

    <main class="wrapper">
      <h2 class="title">{content.title}</h2>
      <p class="description">{content.description}</p>
      <img class="img" src={content.image} alt="">
      <pre>
        {JSON.stringify(content, null, 2)}
      </pre>
      <article class="article" style="text-align: center;">
        <slot />
      </article>
      <footer class="footer">
        <a class="posts" href="/haiku">All Haiku</a>
      </footer>
    </main>

    <footer>
    </footer>
  </body>
</html>